aiohappyeyeballs
aiohttp
aiosignal
altair
altgraph
annotated-types
anyio
attrs
auto-py-to-exe
bcrypt
blinker
bottle
bottle-websocket
cachetools
captcha
certifi
cffi
chardet
charset-normalizer
click
colorama
comtypes
cx_Freeze
cx_Logging
distro
Eel
entrypoints
et-xmlfile
extra-streamlit-components
filelock
frozenlist
fsspec
future
fuzzywuzzy
gevent
gevent-websocket
gitdb
GitPython
greenlet
h11
httpcore
httpx
huggingface-hub
idna
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
lief
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
mypy
mypy-extensions
narwhals
networkx
numpy
openai
openpyxl
packaging
pandas
pefile
pillow
plotly
propcache
protobuf
psutil
pyarrow
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
PyMuPDF
PyMuPDFb
pyparsing
python-dateutil
python-decouple
pytz
pyudev
PyYAML
referencing
regex
reportlab
requests
rich
rpds-py
safetensors
scikit-learn
scipy
setuptools
six
smmap
sniffio
stauth
streamlit
streamlit-aggrid
streamlit-authenticator
sympy
tenacity
threadpoolctl
tokenizers
toml
toolz
torch
tornado
tqdm
transformers
ttkbootstrap
typing_extensions
tzdata
urllib3
watchdog
wheel
whichcraft
XlsxWriter
xlwings
yarl
zope.event
zope.interface
PyPDF2
